<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>member_select</title>
<script type="text/javascript" src="./lib/jquery-3.4.1.js"></script>
<script type="text/javascript" src="./lib/member.js"></script>
</head>
<body>
<h3>회원조회</h3>
<form name='frm' method='post'>
<input type='button' value='회원추가' id='btnInsert'/>
<div>
<input type='text' name='findStr' id='findStr'/>
<input type='button' value='검색' id='btnFind'/>
</form>
<div id='title'>
	<span class='mId'>학번</span>
	<span class='mName'>성명</span>
	<span class='rDate'>등록일</span>
	<span class='grade'>학년</span>
</div>

<div id='result'>
	<div id='item' onclick='view("aaaa")'>
		<span class='mId'>aaaa</span>
		<span class='mName'>홍길동</span>
		<span class='rDate'>2020-01-01</span>
		<span class='grade'>1</span>
</div>
<script>select();</script>
</div>
</body>
</html>