@charset "UTF-8";

body{
  font-family:'나눔바른고딕';
}

#main{
  border : 1px solid #000;
  width : 1200px;
  background-color:#eee;
  margin:auto;
}

#header{
  height : 220px;
  background-image:url('../images/구글.png');
  background-size:100% 100%;
}

#nav{
  background-color:#363c3d;
  overflow:hidden;
  color:yellow;
  padding:3px;
}

#nav ul{
  text-align:right;
  margin:4px;
  padding:0px;
}

#nav li{
  text-align:center;
  display:inline;
  list-style:none;
}

#nav li:link{
  color:yellow;
  text-decoration:none;
  cursor:pointer;
}

#nav li:visited{
  color:yellow;
  text-decoration:none;
}

#nav li a{
  color:yellow;
  text-decoration:none;
  padding:5px;
}
#nav li a:hover{
  background-color:#777;
  color:white;
  cursor:pointer;
}

#sub_menu{
  width:200px;
  background-color:#ffaaaa;	
}

#center{
  overflow:hidden;
}

#center>div, #aside{
  float:left;
}

#main_content{
  height:1000px;
  width:800px;
  background-color:#aaffaa; 
}

#aside{
  width:200px;
  background-color:#aaaaff;
}

#footer{
  height:95px;
  background-color:#bbb;
  padding-top:3px;
  padding-bottom:20px;
  box-sizing: border-box;
}

#footer>div{
  text-align:center;
  margin:3px;
}