@charset "UTF-8";

body{
  font-family:'나눔바른고딕';
}

#main{
  border : 1px solid #000;
  width : 1200px;
  background-color:#eee;
  margin:auto;
}

#header{
  height : 220px;
  background-image:url('../images/구글.png');
  background-size:100% 100%;
}

#nav{
  background-color:#363c3d;
  height:50px;
  margin-bottom:5px;
  overflow:hidden;
  color:yellow;	
}

#nav li{
  float:right;
  list-style:none;
  margin-right:8px;
}

#nav li:link{
  color:yellow;
  text-decoration:none;
  cursor:pointer;
}

#nav li:visited{
  color:yellow;
  text-decoration:none;
}

#nav li>a{
  color:yellow;
  text-decoration:none;
}
#nav li:hover{
  background-color:#777;
  color:#333;
  cursor:pointer;
}

#sub_menu{
  width:200px;
  background-color:#ffaaaa;	
}

#center{
  overflow:hidden;
}

#center>div, #aside{
  float:left;
}

#main_content{
  height:1000px;
  width:800px;
  background-color:#aaffaa; 
}

#aside{
  width:200px;
  background-color:#aaaaff;
}

#footer{
  height:95px;
  background-color:#bbb;
  padding:10px;
}

#footer>div{
  text-align:center;
  margin:3px;
}