@import "_header.scss";
@import "_variables.scss";

.contact{
    @include flexCenter();
}

.test{
    button{
        &:hover{
            background: sandybrown;
        }

        &::after{
            content:'hello';
        }
    }
}
.contact button{
    background: salmon;
}